# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@pg_db:5432/saasdb?schema=public"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

ORIGIN="http://127.0.0.1"

STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_SUCCESS_URL=""
STRIPE_CANCEL_URL=""

MAILJET_API_KEY=""
MAILJET_SECRET_KEY=""